<h1> Login </h1>
<%= form_tag "/main/forgotpassword" do %>
    
    Enter email:<br />
    <input name="email" type="text" value="" size="30"/> <br /> 
    
    
    <input type="submit" class="btn btn-default btn-success btn-sm" value="enter"/>
    
<%end%>
A new password will be send to your email address
<br/>



