<a href="/main/profile"><%= cookies[:user_name] %></a>
<a href="/question/ask">Ask Question</a>
<a href="/question/myquestions">My Question</a>

<a href="/main/logout">logout</a>
<table>
  <tr>
    <td> 
      <h1>Title</h1>
    </td>
    <td>
      <h1>Content</h1>
    </td>
    
  </tr>
<% for q in @myQuestions %>
  <tr>
    <td>
      <% viewQuestion = "/question/view?id="+q.id.to_s %>
      <a href="<%= viewQuestion %>" > <%= q.title %> </a>
      
    </td>
    <td>
      <%= q.content %>
    </td>

      
      
  </tr>
<% end %>
</table>