<!DOCTYPE html>
<html>
<head>
  <title>DatabaseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link type="text/css" rel="stylesheet" href="/css/stylish_div.css" />
  <%= csrf_meta_tags %>
</head>
<body style="background-color: 233,234,237;">
	<script type="text/javascript">
		
	</script>
<form id="search_form"> <input id="search_box" type="text" name="search_box"/></form>
<%= yield %>

</body>
</html>
