<!DOCTYPE html>
<html>
<head>
  <title>DatabaseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/jquerya/dist/jquery.autocomplete.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/stylish_div.css" />
  <link type="text/css" rel="stylesheet" href="/css/mycss.css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
    <script>
    $(document).ready(function() {

     //var a = $('#autocomplete').text(); 
     $('#autocomplete').autocomplete({
    serviceUrl: '/api/index',
    params:{"query":$('#autocomplete').text()},
    onSelect: function (suggestion) {
        window.location.replace(suggestion.link);
    }
});
    });
</script>
</head>

<body style="background-color:#DCDCDC;">


<%= yield %>

</body>
</html>
