<!DOCTYPE html>
<html>
<head>

  <title>DatabaseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/jquerya/dist/jquery.autocomplete.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/stylish_div.css" />
  <link type="text/css" rel="stylesheet" href="/css/mycss.css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
    <script>
    $(document).ready(function() {

     //var a = $('#autocomplete').text(); 
     $('#autocomplete').autocomplete({
    serviceUrl: '/api/index',
    params:{"query":$('#autocomplete').text()},
    onSelect: function (suggestion) {
        window.location.replace(suggestion.link);
    }
});
    });
</script>
  <style type="text/css">
            body {
  padding-top:50px;
}

#masthead {
  min-height:250px;
}

#masthead h1 {
  font-size: 30px;
  line-height: 1;
    padding-top:20px;
}

#masthead .well {
  margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
  background-color:#111155;
    color:#fff;
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
    border:0 #eee solid;
    border-right-width:4px;
}

        </style>
        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
</head>

<body >


<%= yield %>

</body>
</html>
